[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "ESGPTTaskQuerying"
version = "0.1.1"
authors = [
  { name="Justin Xu", email="justin13601@hotmail.com" },
  { name="Matthew McDermott", email="mattmcdermott8@gmail.com" },
]
description = "Automatic task extraction for ESGPT datasets"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "polars == 0.20.18",
    "bigtree == 0.17.0",
    "ruamel.yaml == 0.18.6",
    "pandas == 2.2.2",
    "loguru == 0.7.2",
    "hydra-core == 1.3.2",
    "pytimeparse == 1.1.8"
]

[project.optional-dependencies]
dev = ["pre-commit", "pytest", "pytest-cov", ]

[project.urls]
Homepage = "https://github.com/justin13601/ESGPTTaskQueryingPublic"
Issues = "https://github.com/justin13601/ESGPTTaskQueryingPublic/issues"
